ion-content{

    .all-store{ width: 100%!important;
        ion-select{padding-right: 0; --padding-top: 6px; --padding-bottom: 2px; padding: 5px; font-size: 0.72rem; line-height: 18px;}
        img{margin-right: 5px; width: 15px;}
    } 

   
}
.nodata{
    margin-top: 50%;
    text-align: center;
}
.noti{color: #fff; margin-right: 8px; font-size: 1.9rem;}
