<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Customer Support</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <h2>
      How are we Doing?
    </h2>
    <p>
        We would like to here form you if you have any
        Inquiry / Query/ Feedback from you on our app.
        The more details you can provide, the better.
    </p>
    <div class="profile-setting">
      <ion-item>
        <ion-label position="stacked">Description <i>*</i> </ion-label>
        <ion-input placeholder="Please leave detailed description"></ion-input>
      </ion-item>
    </div>
    <div class="heading-img">
        Add Image here
    </div>
    <div class="mainpickup">
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browseimg">
        <img src="../../assets/images/profile.png" />
      </div>
      <div class="browsethumb">
        <img src="../../assets/icon/plus-icon-c.svg" />
      </div>
      <div class="clear"></div>
    </div>
  </ion-card>
</ion-content>
