   
   .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
    background-color: #063143;
 }
   ion-content{--ion-background-color:none; 
        .no-scroll .scroll-content{ overflow: hidden;}
        .img-bg{ background-image: url(../../assets/images/login-bg-new.svg); background-color: rgba(5, 48, 66, 0.94); background-size: contain; background-repeat: no-repeat; background-position: bottom;  width: 100%;  position: relative; 
            .bg{ background: rgba(5, 48, 66, 0.94); background-size: cover; align-items: center; justify-content: center;  height: 100%; min-height: 100vh; padding-bottom: 100px;
                .mainlogin{width: 280px; margin: auto; text-align: center;
    
                .logo{ width: 170px; margin-bottom: 30px;  margin-top: 30px; }
    
                ion-item{background: transparent; border-bottom: #f5f5f5 1px solid; color: #a6a9b1; margin-bottom: 20px; min-height: 35px; --inner-border-width:0px; font-size: 0.8rem; --highlight-color-valid:#2b497e; --padding-start: 0; --inner-padding-end: 0; --color-hover: none; --ripple-color:transparent !important; --background-hover:none;
                            ion-label.input-text{color: #CDD6D9; font-size: 1rem; font-weight: 400;  transform: translate3d(0,0%,0) scale(1); margin: 0;}
                            .item-native{border-bottom: #f5f5f5 1px solid;}
                            ion-input{color: #fff; --padding-end:35px;}
                            ion-icon{color: #fff; font-size: 1.5rem !important;  position: absolute; right: 0; bottom: 0;}
                        }
                    // .item-inner{--border-bottom: 0px;}
        
                    // .item-native{padding: 0px;}
        
                    .icon-user{width: 15px; margin-right: 10px; margin-top: 0;}
                }
            }
        }
        
        // .rem{
        //     padding: 15px 0 0 0;
        //     margin-bottom: 20px;
        // }
        .login{
            text-align: center;
            ion-button{
                margin: auto;
                // width: 100%;
                border-radius: 50px;
                color: #fff;
                --background:#607e9a;
                text-transform: none;
                --box-shadow:none;
                height: 36px;
                font-weight: 400;
                font-size: 1rem;
                --background-focused:#607e9a!important;
                --background-activated:#607e9a!important;
                --background-hover:#607e9a!important;
                text-transform: uppercase;
                --padding-start: 46px;
                --padding-end: 46px;

                // img{
                //     width: 25px;
                //     margin-left: 10px;
                // }
            }

            // ion-button.activated{

            //     --color-activated: #fff;
            // }

            // .button-native{
            //     border-radius: 50px;
            // }
            // ion-ripple-effect{
            //     border-radius: 50px;
            // }
        }

        

        .forgot-pass{
            text-align: center;
            ion-button{
                    margin: 13px auto 10px;
                    background: transparent!important;
                    color: #fff;
                    --border-color:transparent;
                    text-transform: none;
                    font-size: 0.8rem;
                    --background-focused:transparent!important;
                    --background-activated:transparent!important;
                    --background-hover:transparent!important;
                    --color:#fff;
                    --color-focused:#fff;
                    --color-activated:#fff;
                    font-weight: 400;
                    text-decoration: underline;
                    --ripple-color:transparent !important;
            }


        }

        // .remember-me{--ripple-color:none !important;
        //     --inner-border-width:0px;
        //     border-bottom: 0px!important;
        //     --padding-start: 0px;
        //     ion-checkbox{
        //         --border-color:#fff;
        //         --border-radius: 0%;
        //         width: 18px;
        //         height: 18px;
        //         -webkit-margin-end: 10px;
        //         margin-inline-end: 10px;
        //     }
        // }

        ion-row.remember-me{margin-top: 6px;;
            ion-col{
                ion-checkbox{--border-color:#fff; --border-radius: 0%; width: 18px; height: 18px; -webkit-margin-end: 10px; margin-inline-end: 10px;}
                ion-label{font-size: 0.9rem; color: #fff; display: flex; margin-left: 7px;}
            }
        }
        
        .pass-btm{
            margin-bottom: 0px!important;
        }

        .checkbox-checked {
            --background-checked: transparent;
            --border-color-checked: #fff;
        }

        .hotel-budget{ text-transform: uppercase; text-align: center; position: absolute; left: 0; right: 0; bottom: 20px;
            // h5{margin: 0; padding: 0; font-size: 2.3rem; font-weight: 500;color: #fff; letter-spacing: 5px;}
            // p{margin: 0; padding: 0;  font-size: 0.8rem; font-weight: 400; color: #fff; letter-spacing: 15px;}
            img{width: 100px; max-width: 100%;}
        }

       
    }


    @media screen and (min-width:320px) and (max-width:374px){
        ion-content .forgot-pass ion-button{margin: 10px auto 0px;}
        ion-content .img-bg .bg .mainlogin .logo{width: 120px; margin-bottom: 20px; margin-top: 20px;}
        ion-content .hotel-budget{bottom: 9px;}
    }