<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
    <img class="right-icon" slot="end" src="assets/images/delete-w.svg">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="page-head">
    <ion-row>
      <ion-col size="7">
        <h5>Service Request Details</h5>
      </ion-col>

      <ion-col size="5" text-right>
        <ion-button shape="round">
          <img slot="start" src="assets/icon/pencil-edit-w.svg">
          Edit Request
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="address">
    <ion-text>
      4817 West Laurel Street, Tampa - Florida 33607,
      Tampa - 75244, Florida, USA. (214) 259-7018
      gpedersen@encore.bz (Glenn Pedersen)
    </ion-text>
  </ion-grid>

  <ion-grid class="service-request-details">
    <ion-card>
      <ion-item>
        <ion-label>Created Date:</ion-label>
        <ion-text>Jan 8, 2020 | 4:37AM</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>S.R. #:</ion-label>
        <ion-text>SR2177-325-T04-122319</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Source:</ion-label>
        <ion-text>Client at Desk</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>User:</ion-label>
        <ion-text>N/A</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Type of Service:</ion-label>
        <ion-text>(T04) - Maintenance</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Priority:</ion-label>
        <ion-button class="priority high" shape="round"> high </ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Room Number:</ion-label>
        <ion-text>308</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Requested By:</ion-label>
        <ion-text>Arwyn Morris</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Assign To:</ion-label>
        <ion-text>Tracey Unger</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Status:</ion-label>
        <ion-text class="status">Completed</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Due Date:</ion-label>
        <ion-text>Jan 07, 2020 | 06:20 PM</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Completed Date:</ion-label>
        <ion-text>Jan 08, 2020 | 04:38 PM</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Description:</ion-label>
        <ion-text>Entrance door will not open</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Solution:</ion-label>
        <ion-text>Replaced battery pack</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Progress:</ion-label>
        <ion-button shape="round" (click)="ViewProgress()"> View Progress </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Attachements:</ion-label>
        <ion-text>
          <div class="img-more">
            <img src="assets/images/attachement.png">
            <div class="more-count">
              <span>+2</span>
            </div>
          </div>
        </ion-text>
      </ion-item>
    </ion-card>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-button shape="round"> EXPORT PDF </ion-button>
  <ion-button shape="round"> SEND EMAIL </ion-button>
</ion-footer>