<ion-content>
  <div class="img-bg">
    <div class="bg">
      <div class="mainlogin">
          <img src="../assets/images/logo-new.svg" class="logo" />
        <!-- forgot password -->
        <div class="forgot" *ngIf="getStartedUsername">
          <ion-item class="bg-none">
            <img src="../../assets/images/email-new.svg" slot="start" class="icon-user">
            <ion-label position="stacked" class="input-text">Email</ion-label>
            <ion-input type="text" (ionChange)="EmailvalidCheckEvent()"  [(ngModel)]="userNameModel" placeholder="Enter Register Email"></ion-input>
          </ion-item>
          <ion-row class="login">
            <ion-button shape="round" expand="full"  [disabled]="getStartedButtonEnable" (click)="generateOptClick()">Send
              OTP  </ion-button>
          </ion-row>
        </div>
        <!-- forgot password End -->


        <!-- Enter OTP -->
        <!-- <div class="enter-otp" *ngIf="getStartedOtp">
          <ion-item class="bg-none">
            <ion-input type="text" (ionChange)="OtpEvent()" [(ngModel)]="otpModel" Maxlength='4' placeholder="Enter OTP"></ion-input>
          </ion-item>
          <ion-row class="login">
            <ion-button shape="round" expand="full"   [disabled]="getOtpButtonEnable" (click)="subminOtpClick()">Confirm OTP <img src="../../assets/images/arrow.png" /> </ion-button>
          </ion-row>
        </div> -->
        <!-- Enter OTP End -->

        <!-- Change password -->
        <div class="forgot"  *ngIf="getStartedNewPassword">
          <form [formGroup]="passwordForm">
            <ion-item class="bg-none">
              <img src="../../assets/images/password-new.svg" slot="start" class="icon-user">
              <ion-label position="stacked" class="input-text">OTP</ion-label>
              <ion-input type="text" Maxlength='6' placeholder="Enter OTP" formControlName="otp"></ion-input>
            </ion-item>
            <div class="error" *ngIf="passwordForm.controls.otp.hasError('required') && passwordForm.controls.otp.touched">
              <p class="invalid-input">Otp is required!</p>
            </div>
              <div class="error" *ngIf="passwordForm.controls.otp.hasError('pattern') && passwordForm.controls.otp.touched">
                <p class="invalid-input">Please enter valid otp( ex. 123456)</p>
              </div>
            <ion-item class="bg-none">
              <img src="../../assets/images/password-new.svg" slot="start" class="icon-user">
              <ion-label position="stacked" class="input-text">New Password</ion-label>
              <ion-input type="password" placeholder="New Password" formControlName="new_password"></ion-input>
            </ion-item>
            <div class="error" *ngIf="passwordForm.controls.new_password.hasError('required') && passwordForm.controls.new_password.touched">
              <p class="invalid-input">Password is required!</p>
            </div>
            <div *ngIf="!passwordForm.get('new_password').hasError('whitespace') || !passwordForm.get('new_password').touched">
              <div class="error" *ngIf="passwordForm.controls.new_password.hasError('minlength') && passwordForm.controls.new_password.touched">
                <p class="invalid-input">Password should be atleast 6 character required!</p>
              </div>
            </div>
            <div *ngIf="passwordForm.value.new_password">
              <div class="error" *ngIf="passwordForm.get('new_password').hasError('whitespace') && passwordForm.get('new_password').touched">
                <p class="invalid-input">Blank spaces are not allowed.</p>
              </div>
            </div>

            <ion-item class="bg-none">
              <img src="../../assets/images/password-new.svg" slot="start" class="icon-user">
              <ion-label position="stacked" class="input-text">Confirm Password</ion-label>
              <ion-input type="password" placeholder="Confirm Password" formControlName="cofpassword"></ion-input>
            </ion-item>
            <div class="error" *ngIf="passwordForm.controls.cofpassword.hasError('required') && passwordForm.controls.cofpassword.touched">
              <p class="invalid-input">Confirm Password is required!</p>
            </div>
            <div *ngIf="passwordForm.value.cofpassword">
            <div class="error" *ngIf="passwordForm.get('cofpassword').hasError('equalTo') && passwordForm.get('cofpassword').touched">
              <p class="invalid-input"> Password Mismatch </p>
            </div>
            </div>
          </form>

          <ion-row class="login">
            <ion-button shape="round" expand="full" [disabled]="!passwordForm.valid" (click)="getPasswordClick()">Submit </ion-button>
          </ion-row>
        </div>
        <!-- Change password End -->
        <ion-row class="forgot-pass">
          <ion-button clear fill="outline"   (click)="getLoginClick()">Login</ion-button>
        </ion-row>

        <ion-grid class="hotel-budget">
            <!-- <h5>Hotel</h5>
            <p>Budget</p> -->
            <img src="assets/images/hotel-budget-logo-new.svg">
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>