<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="taxexempt-tlt">
    <ion-row>
      <ion-col class="view-tlt">
        <ion-label>Tax Exempt</ion-label>
      </ion-col>
      <ion-col class="tlt-content">
        <div class="select">
          <ion-item class="all-store">
            <ion-select mode="md" placeholder="All Hotels" class="select-nav">
              <ion-select-option>101</ion-select-option>
              <ion-select-option>102</ion-select-option>
              <ion-select-option>103</ion-select-option>
              <ion-select-option>104</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar placeholder="Search"></ion-searchbar>
  <ion-grid class="main-part">
    <ion-card>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Information Date:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Jan 05,2020
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <h6>$
            <span>594.45</span>
          </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Confirmation Number:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                82395291
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Selling Dealer:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Federal Agency:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                US Air Force
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Hotel Name:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2 Suits Pensacola
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="round">Preview</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Information Date:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Jan 05,2020
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <h6>$
            <span>594.45</span>
          </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Confirmation Number:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                82395291
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Selling Dealer:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Federal Agency:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                US Air Force
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Hotel Name:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2 Suits Pensacola
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="round">Preview</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Information Date:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Jan 05,2020
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <h6>$
            <span>594.45</span>
          </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Confirmation Number:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                82395291
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Selling Dealer:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Federal Agency:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                US Air Force
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Hotel Name:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2 Suits Pensacola
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="round">Preview</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Information Date:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Jan 05,2020
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <h6>$
            <span>594.45</span>
          </h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Confirmation Number:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                82395291
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Selling Dealer:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Federal Agency:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                US Air Force
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="5">
              <h5>Hotel Name:</h5>
            </ion-col>
            <ion-col size="7">
              <ion-label>
                Home2 Suits Pensacola
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-button shape="round">Preview</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>+ Add Tax Exempt</ion-title>
  </ion-toolbar>
</ion-footer>