<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-head">
      <ion-row>  
          <ion-col size="7">
              <h5>Create Work Order</h5>
          </ion-col>

          <ion-col size="5" text-right class="totle-item">
              <h5>Items (17)</h5>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="create-work-order">
    <ion-card>
      <ion-card-header>
          <ion-row>
              <ion-col size="3">
                  <h4>Room</h4>
              </ion-col>
              <ion-col size="3">
                  <h4>Item</h4>
              </ion-col>
              <ion-col size="4">
                  <h4>Status</h4>
              </ion-col>
              <ion-col size="2"></ion-col>
          </ion-row>
      </ion-card-header>
          
      <ion-card-content>
          <ion-row>
              <ion-col size="3">
                  <h5>204</h5>
              </ion-col>
              <ion-col size="3">
                  <h5>All Caulking</h5>
              </ion-col>
              <ion-col size="4">
                  <h5>2 - Repair</h5>
              </ion-col>
              <ion-col size="2">
                  <img src="assets/icon/delete.svg">
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>201</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>Banquet</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>Conference</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>211</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
                <h5>Banquet</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>Conference</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="3">
                <h5>204</h5>
            </ion-col>
            <ion-col size="3">
                <h5>All Caulking</h5>
            </ion-col>
            <ion-col size="4">
                <h5>2 - Repair</h5>
            </ion-col>
            <ion-col size="2">
                <img src="assets/icon/delete.svg">
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
              <h5>201</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
              <h5>Banquet</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
              <h5>Conference</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
              <h5>211</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
              <h5>Banquet</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="3">
              <h5>Conference</h5>
          </ion-col>
          <ion-col size="3">
              <h5>All Caulking</h5>
          </ion-col>
          <ion-col size="4">
              <h5>2 - Repair</h5>
          </ion-col>
          <ion-col size="2">
              <img src="assets/icon/delete.svg">
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-grid>

  <ion-grid class="add-team-form">
    <ion-card>
        <ion-list>
            <ion-item lines="none">
                <ion-label position="stacked"> Assign To <span>*</span></ion-label>
                <ion-select placeholder="Select Members"  multiple="true" >
                  <ion-select-option value="JeffWalker">Jeff Walker</ion-select-option>
                  <ion-select-option value="Joywattford">Joy wattford</ion-select-option>
                  <ion-select-option value="SeanManning">Sean Manning</ion-select-option>
                  <ion-select-option value="AmyChiasson">Amy Chiasson</ion-select-option>
                  <ion-select-option value="ScottBaer">Joy wattford</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-label  position="stacked">Due Date & Time <span>*</span></ion-label>
              <ion-datetime mode="ios" placeholder="Select Date"></ion-datetime>
              <img slot="end" src="assets/icon/calendar.svg">
            </ion-item>

            <ion-item lines="none">
              <ion-label  position="stacked">Description <span>*</span></ion-label>
              <ion-textarea placeholder="Add Description"></ion-textarea>
            </ion-item>
          
        </ion-list>
    </ion-card>
  </ion-grid>


  <!-- <div class="no-data-found">
    <img src="assets/images/empty-screen/user-empty.svg">
    <p>No Data Found</p>
  </div> -->

</ion-content>


<ion-footer>
  <ion-button class="cancel-team" shape="round"> CLEAR </ion-button>
  <ion-button class="add-team" shape="round"> GENERATE </ion-button>
</ion-footer>