<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Guide</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div class="video">
      <video >
        <source src="assets/video/mov_bbb.mp4" type="video/mp4">
      </video>
      <img src="../../assets/icon/play.svg" />
    </div>
    <div class="text-guide">
      Guide 1
    </div>
    <div class="clear"></div>
  </ion-card>
  <ion-card>
    <div class="video">
      <video >
        <source src="assets/video/mov_bbb.mp4" type="video/mp4">
      </video>
      <img src="../../assets/icon/play.svg" />
    </div>
    <div class="text-guide">
      Guide 1
    </div>
    <div class="clear"></div>
  </ion-card>
</ion-content>
