<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
    <img class="right-icon" slot="end" src="assets/images/filter.svg">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="page-head">
    <ion-row>  
        <ion-col>
            <h5>Manage Work Order</h5>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="page-search">
    <ion-searchbar mode="md" placeholder="Search"></ion-searchbar>
  </ion-grid>

  <ion-grid class="manage-work-order">
      <ion-card>
          <ion-row>
              <ion-col size="8">

                  <ion-row>
                      <ion-col size="5">
                          <h5>W.O. #:</h5>
                      </ion-col>
                      <ion-col size="7">
                          <h4>WO3-325-012120</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="5">
                        <h5>Assigned To:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>Tracey Unger</h4>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="5">
                        <h5>Requested By:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>Admin</h4>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="5">
                        <h5>Due Date:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>Jan 9, 2020 8:45 PM</h4>
                    </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="5">
                        <h5>Description:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>Lorem ipsum dolor sit amet</h4>
                    </ion-col>
                  </ion-row>

              </ion-col>
              <ion-col size="4" class="right-clm">
                  <p>Jan 08, 2020 <span>04:37 PM</span></p>
                  <h6>Status: <span>Completed</span></h6>
              </ion-col>
          </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
            <ion-col size="8">

                <ion-row>
                    <ion-col size="5">
                        <h5>W.O. #:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>WO3-325-012120</h4>
                    </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Assigned To:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Tracey Unger</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Requested By:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Admin</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Due Date:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Jan 9, 2020 8:45 PM</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Description:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Lorem ipsum dolor sit amet</h4>
                  </ion-col>
                </ion-row>

            </ion-col>
            <ion-col size="4" class="right-clm">
                <p>Jan 08, 2020 <span>04:37 PM</span></p>
                <h6>Status: <span>Completed</span></h6>
            </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
            <ion-col size="8">

                <ion-row>
                    <ion-col size="5">
                        <h5>W.O. #:</h5>
                    </ion-col>
                    <ion-col size="7">
                        <h4>WO3-325-012120</h4>
                    </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Assigned To:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Tracey Unger</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Requested By:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Admin</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Due Date:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Jan 9, 2020 8:45 PM</h4>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="5">
                      <h5>Description:</h5>
                  </ion-col>
                  <ion-col size="7">
                      <h4>Lorem ipsum dolor sit amet</h4>
                  </ion-col>
                </ion-row>

            </ion-col>
            <ion-col size="4" class="right-clm">
                <p>Jan 08, 2020 <span>04:37 PM</span></p>
                <h6>Status: <span>Completed</span></h6>
            </ion-col>
        </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
