<ion-header>
  <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-back-button [text]="buttonText" [icon]="buttonIcon">
          </ion-back-button>
        </ion-buttons> -->
        <ion-buttons slot="start">
            <ion-back-button>
              <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
            </ion-back-button>
          </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="change-pass">

    <form [formGroup]="passwordForm">
      
      <ion-label>Current Password<i>*</i></ion-label>
      <ion-input  type= "password" placeholder="Enter Current Password" formControlName="old_password"></ion-input>
      <div class="error"
        *ngIf="passwordForm.controls.old_password.hasError('required') && passwordForm.controls.old_password.touched">
        <p class="invalid-input">Password is required.</p>
      </div>
      <div
        *ngIf="!passwordForm.get('old_password').hasError('whitespace') || !passwordForm.get('old_password').touched">
        <div class="error"
          *ngIf="passwordForm.controls.old_password.hasError('minlength') && passwordForm.controls.old_password.touched">
          <p class="invalid-input">Password 6 character required!</p>
        </div>
      </div>
      <div *ngIf="passwordForm.value.old_password">
        <div class="error"
          *ngIf="passwordForm.get('old_password').hasError('whitespace') && passwordForm.get('old_password').touched">
          <p class="invalid-input">Blank spaces are not allowed.</p>
        </div>
      </div>

      <ion-label>New Password<i>*</i></ion-label>
      <ion-input type= "password" placeholder="Enter New Password" formControlName="new_password"></ion-input>
      <div class="error"
        *ngIf="passwordForm.controls.new_password.hasError('required') && passwordForm.controls.new_password.touched">
        <p class="invalid-input">Password is required!</p>
      </div>
      <div
        *ngIf="!passwordForm.get('new_password').hasError('whitespace') || !passwordForm.get('new_password').touched">
        <div class="error"
          *ngIf="passwordForm.controls.new_password.hasError('minlength') && passwordForm.controls.new_password.touched">
          <p class="invalid-input">Password 6 character required!</p>
        </div>
      </div>
      <div *ngIf="passwordForm.value.new_password">
        <div class="error"
          *ngIf="passwordForm.get('new_password').hasError('whitespace') && passwordForm.get('new_password').touched">
          <p class="invalid-input">Blank spaces are not allowed.</p>
        </div>
      </div>

      <ion-label>Confirm Password<i>*</i> </ion-label>
      <ion-input type= "password" placeholder="Re-enter Password" formControlName="cofpassword"></ion-input>
      <div class="error"
        *ngIf="passwordForm.controls.cofpassword.hasError('required') && passwordForm.controls.cofpassword.touched">
        <p class="invalid-input">Confirm Password is required!</p>
      </div>
      <div *ngIf="passwordForm.value.cofpassword">
        <div class="error"
          *ngIf="passwordForm.get('cofpassword').hasError('equalTo') && passwordForm.get('cofpassword').touched">
          <p> Password Mismatch </p>
        </div>
      </div>

    </form>

  </ion-card>

  <div class="btn-profile profile-setting add-save">
    <button ion-button="" (click)="userEditPassword()" [disabled]="!passwordForm.valid"> Update </button>
  </div>
</ion-content>
<!-- <footer></footer> -->