ion-icon{color: #fff; margin-right: 8px; font-size: 1.9rem;}
ion-title{margin-left: 28px;}
ion-content{

    --ion-background-color:#f1f1f1;
    
}
.boxmy{
    height: 10%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    color: red($color: #000000);
}
.tempclass
{
    display: none;
}