<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img class="menu" src="../../assets/icon/menu.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
    <img class="right-icon" slot="end" src="assets/images/filter.svg">
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="page-head">
      <ion-row>  
          <ion-col size="7">
              <h5>Work Order</h5>
          </ion-col>

          <ion-col size="5" text-right class="check-option">
            <ion-item lines="none">
              <ion-label>Select All</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="page-search">
    <ion-searchbar mode="md" placeholder="Search"></ion-searchbar>
  </ion-grid>

  <ion-grid class="work-order-card-design">
      <ion-card>
          <ion-card-header>
              <ion-item lines="none">
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Jul 10, 2019</ion-label>
                  <ion-text>
                      <h5>Room No
                        <span>201</span>
                      </h5>
                  </ion-text>
              </ion-item>
          </ion-card-header>

          <ion-card-content>
              <ion-row>
                  <ion-col size="9">
                      <ion-row>
                          <ion-col size="3" class="pl-0">
                              <span class="head">Category:</span>
                          </ion-col>
                          <ion-col size="9" class="pr-0">
                              <h4>Bath Area</h4>
                          </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col size="3" class="pl-0">
                            <span class="head">Item:</span>
                        </ion-col>
                        <ion-col size="9" class="pr-0">
                            <h4>Door & Frame Condition</h4>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Status:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>1 - Touchup</h4>
                      </ion-col>
                  </ion-row>

                  </ion-col>
                  <ion-col size="3" align-self-end text-right>
                      <div class="img-more">
                          <img src="assets/images/attachement.png">
                          <div class="more-count">
                              <span>+7</span>
                          </div>
                      </div>
                  </ion-col>
              </ion-row>
          </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Jul 10, 2019</ion-label>
                <ion-text>
                    <h5>Room No
                      <span>201</span>
                    </h5>
                </ion-text>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
              <ion-col size="9">
                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Category:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Bath Area</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Item:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Door & Frame Condition</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="3" class="pl-0">
                        <span class="head">Status:</span>
                    </ion-col>
                    <ion-col size="9" class="pr-0">
                        <h4>1 - Touchup</h4>
                    </ion-col>
                  </ion-row>

              </ion-col>
              <ion-col size="3" align-self-end text-right>
                  <div class="img-more">
                      <img src="assets/images/attachement.png">
                      <!-- <div class="more-count">
                          <span>+7</span>
                      </div> -->
                  </div>
              </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Jul 10, 2019</ion-label>
                <ion-text>
                    <h5>Room No
                      <span>201</span>
                    </h5>
                </ion-text>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
              <ion-col size="9">
                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Category:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Bath Area</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Item:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Door & Frame Condition</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="3" class="pl-0">
                        <span class="head">Status:</span>
                    </ion-col>
                    <ion-col size="9" class="pr-0">
                        <h4>1 - Touchup</h4>
                    </ion-col>
                  </ion-row>

              </ion-col>
              <ion-col size="3" align-self-end text-right>
                  <div class="img-more">
                      <img src="assets/images/attachement.png">
                      <div class="more-count">
                          <span>+10</span>
                      </div>
                  </div>
              </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Jul 10, 2019</ion-label>
                <ion-text>
                    <h5>Room No
                      <span>201</span>
                    </h5>
                </ion-text>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
              <ion-col size="9">
                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Category:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Bath Area</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Item:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Door & Frame Condition</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="3" class="pl-0">
                        <span class="head">Status:</span>
                    </ion-col>
                    <ion-col size="9" class="pr-0">
                        <h4>1 - Touchup</h4>
                    </ion-col>
                  </ion-row>

              </ion-col>
              <ion-col size="3" align-self-end text-right>
                  <div class="img-more">
                      <img src="assets/images/attachement.png">
                      <div class="more-count">
                          <span>+7</span>
                      </div>
                  </div>
              </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
            <ion-item lines="none">
                <ion-checkbox slot="start"></ion-checkbox>
                <ion-label>Jul 10, 2019</ion-label>
                <ion-text>
                    <h5>Room No
                      <span>201</span>
                    </h5>
                </ion-text>
            </ion-item>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
              <ion-col size="9">
                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Category:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Bath Area</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                      <ion-col size="3" class="pl-0">
                          <span class="head">Item:</span>
                      </ion-col>
                      <ion-col size="9" class="pr-0">
                          <h4>Door & Frame Condition</h4>
                      </ion-col>
                  </ion-row>

                  <ion-row>
                    <ion-col size="3" class="pl-0">
                        <span class="head">Status:</span>
                    </ion-col>
                    <ion-col size="9" class="pr-0">
                        <h4>1 - Touchup</h4>
                    </ion-col>
                  </ion-row>

              </ion-col>
              <ion-col size="3" align-self-end text-right>
                  <div class="img-more">
                      <img src="assets/images/attachement.png">
                      <div class="more-count">
                          <span>+7</span>
                      </div>
                  </div>
              </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

  </ion-grid>


  
 
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Work Order (17)</ion-title>
  </ion-toolbar>
</ion-footer>
