ion-content{

    --ion-background-color:#f1f1f1;
    
}
.date{
    background: #ffffff;
    width: 100%;
    --background: #ffffff;
    --padding-end: 13px;
}
.calender img{
    width: 16%;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.hydrated .md .in-item{float: left;}