<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
            <img class="menu" src="../../assets/icon/menu.svg" />
          </ion-menu-button>
        </ion-buttons>
    <ion-title>Exported Invoice List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-row class="date">
    <ion-col>
      Date
    </ion-col>
    <ion-col>
        Feb 10, 2019
    </ion-col>
  </ion-row>
</ion-card>

  <ion-card class="marinvoice">
    <ion-row class="export-inv">
      <ion-col size="8">SF Courtyard</ion-col>
      <ion-col>05:10:03 AM</ion-col>
    </ion-row>
    <ion-row class="inv-text">
      <ion-col>Invoice No: <i>00169-02-014402</i></ion-col>
    </ion-row>
    <ion-row class="inv-text">
      <ion-col>M3 status: <i>Pending </i></ion-col>
      <ion-col size="5" class="trans-btn"> <span>Transferred</span></ion-col>
    </ion-row>
  </ion-card>
  <ion-card class="marinvoice">
      <ion-row class="export-inv">
        <ion-col size="8">SF Courtyard</ion-col>
        <ion-col>05:10:03 AM</ion-col>
      </ion-row>
      <ion-row class="inv-text">
        <ion-col>Invoice No: <i>00169-02-014402</i></ion-col>
      </ion-row>
      <ion-row class="inv-text">
        <ion-col>M3 status: <i>Pending </i></ion-col>
        <ion-col size="5" class="trans-btn"> <span>Transferred</span></ion-col>
      </ion-row>
    </ion-card>

</ion-content>
