<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon  mode="md" name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Hampton Inn Boston Braintree</ion-title>
    <ion-icon slot="end" name="ios-more"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid class="main-tlt">
    <ion-label>Exemption Certificate</ion-label>
  </ion-grid>

  <ion-grid class="certificate-data">
    <ion-card>
      <div class="inner-tlt">
        EXEMPTION CERTIFICATE
        <br> TO BE USED BY FEDERAL EMPLOYEES
      </div>
      <ion-row class="address-part">
        <ion-col size="3">
          <h5>Date:</h5>
        </ion-col>
        <ion-col size="9">
          <ion-label>Jan 05, 2020</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="address-part">
        <ion-col size="3">
          <h5>Dealer's Name:</h5>
        </ion-col>
        <ion-col size="9">
          <ion-label>Joey Tribiyani</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="address-part">
        <ion-col size="3">
          <h5>Dealer's Address:</h5>
        </ion-col>
        <ion-col size="9">
          <ion-label>1368 Hanover Street, Garden City, NY, 11530</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="big-part">
        <p>I, the undersigned am an employee of the federal agency identified below. The purchase or lease of tangible personal
          property or services or the rental of living quarters or sleeping accommodations on or after N/A (Date[s]) from
          the business identified above is in pursuit of my employer's affairs. The Government of the United States either
          will pay the seller directly or will provide reimbursement to the employee for the actual cost of the purchase
          or lease of tangible personal property, services, or living quarters or sleeping accommodations made on this date(s).</p>
        <p>Under penalties of perjury, I declare that I have read the foregoing and the facts stated in it are true.</p>
      </ion-row>

      <ion-row class="signature">
        <ion-col size="5"></ion-col>
        <ion-col size="7">
          <ion-item>
            <ion-textarea rows="2" cols="6"></ion-textarea>
          </ion-item>
          <ion-label>Signature Of Employee</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="abt-agency">
        <ion-col size="5">
          <h5>Federal Agency's Name:</h5>
        </ion-col>
        <ion-col size="7">
          <ion-label>US Air Force</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="abt-agency">
        <ion-col size="5">
          <h5>Federal Agency's Address:</h5>
        </ion-col>
        <ion-col size="7">
          <ion-label>Marysvile, CA</ion-label>
        </ion-col>
      </ion-row>

      <ion-row class="agency-content">
        <p>THIS CERTIFICATE MAY NOT BE USED TO MAKE EXEMPT PURCHASES OR LEASES OF TANGIBLE PERSONAL PROPERTY OR SERVICES OR
          RENTAL OF LIVING ACCOMMODATIONS FOR THE PERSONAL USE OF ANY INDIVIDUAL EMPLOYED BY A UNITED STATES GOVERNMENTAL
          AGENCY. PROPER IDENTIFICATION IS REQUIRED BEFORE THIS CERTIFICATE MAY BE ACCEPTED BY THE SELLER.</p>
      </ion-row>
      <ion-row class="florida">
        <ion-item>
          <ion-label>Florida Administrative Code Rule 12A - 1.038(4)(c)</ion-label>
        </ion-item>
      </ion-row>
      <ion-row class="cards">
        <ion-col size="6">
          <h5>Credit/Debit Card Front</h5>
          <img src="assets/images/card-front.png">
        </ion-col>
        <ion-col size="6">
          <h5>Credit/Debit Card Back</h5>
          <img src="assets/images/card-back.png">
        </ion-col>
      </ion-row>

    </ion-card>
  </ion-grid>
</ion-content>