<ion-header>
    <ion-toolbar>
      <!-- <button ion-button clear icon-only menuToggle>
            <img class="menu" src="assets/icon/menu.svg" />
        </button> -->
      <ion-buttons slot="start">
        <ion-menu-button>
          <img class="menu" src="../../assets/icon/menu.svg" />
        </ion-menu-button>
      </ion-buttons>
      <ion-title>PM-survey-dashboard </ion-title>
      <button ion-button outline slot="end" class="notification">
        <img src="../../assets/icon/notification.svg" />
      </button>
    </ion-toolbar>
  </ion-header>